/* ======== INFO BTN ======== */
.btn {
    color: $white;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em 1.5em;
    border-radius: .35em;
    opacity: .9;
    transition: $transition-300;

    &-callout {
        font-size: 1.1em;
        background-color: $color-secondary;
    }

    &-info {
        font-size: .85em;
        margin-top: auto;
        background-color: $color-primary;
    }
    &:hover {
        opacity: 1;
    }
}
