header {
  height: 460px;
  background: linear-gradient($color-bg-lite, $color-bg),
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  @include skewed {
      background-color: $white;
      bottom: -25px;
  }
}
