.main-nav {
    margin-top: 1em;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin: 0 0.65em;
    }
    a {
        color: $white;
        text-decoration: none;
        transition: $transition-300;
        font-size: .85em;
        text-transform: uppercase;
        padding: .5em;

        &:hover {
            color: $color-accent;
        }
    }
}
