/* ======== BODY ======== */
body {
    color: $color-text;
    h1,
    h2 {
        font-family: $font-serif;
    }

    p {
        margin-bottom: 1.25em;

        .intro & {
            font-size: 1.2em;
        }
    }

    /* ======== HEADER ======== */
    header {
        h1 {
            color: $white;
            font-size: 4.8em;
            margin-bottom: 0;
            letter-spacing: 1px;
        }
        p {
            font-size: 1.25em;
            margin: 0;
            color: $color-accent;
        }
    }
    /* ======== CARD ======== */
    .card {
        h1 {
            color: $color-primary;
            margin: 0.35em 0 0;
            line-height: 1.25;
        }
    }
}
