/*COLORS ------------------------*/
$color-primary : #278da4;
$color-secondary : #b13c69;
$color-accent : #eeea72;

$white : #fff;
$color-shade : #eee;
$color-text : #343434;
$color-bg : #3acec2;
$color-bg-lite : #009fe1;

/*FONT STACKS ------------------------*/
$font-sans : 'Raleway', sans-serif;
$font-serif : 'Bree Serif', serif;

/*TRANSITION ------------------------*/
$transition-300 : all 300ms ease;

/*MAX WIDTH ------------------------*/

$max-width : 1000px;

/*MIXINS ------------------------*/
@mixin skewed {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 50px;
        transform: skewY(-2deg);
        position: absolute;
        @content;
    }
}

@mixin center {
    width: 90%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}
